ul
{
    list-style-type:none;
}
body
{
    background-color:rgb(153, 227, 246);
    
}
body>header
{
    color: brown;
}
.container-artigos
{   
    display:flex;
    border-style: solid;
    border-color: black;
}
