ul
{
    list-style-type:none;
}
body
{
    background-color:rgb(153, 227, 246);
    
}
body>header
{
    color: rgb(255, 255, 255);
}
.container-artigos
{   
    color:rgb(255, 255, 255) ;
    display:flex;
}
.container-sections
{
    display: flex;
    border-style: solid;
}
.container-sections>header
{
    color: rgb(255, 255, 255);
    width: 100%;
    flex-basis: 100%;
    display: block;
}
.container-sections
{
    
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: row; 
    display: flex;
    border-style: solid;
    border-color: black;
    border: 2px solid black;
    padding: 20px;
    width: fit-content;
}
body
{
    background-image: url('/IMAGENS/GCPD_1.webp');
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
    margin: 0;
    padding: 0;
    
}
footer
{
    color:rgb(236, 7, 7)
}
