.conteiner-sections
{
    display: inline-flex;
    color: aqua;
}

.conteiner-artigos
{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: black;

}
body
{
    background-color:rgb(23, 172, 209)
    
}
.container-artigos > article 
{
    margin-bottom: 2rem;
    
}
#Harley
{
    height: 50%;
    width: 50%;
}