.container-sections
{
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    border-style: solid;
    border-color: black;
    padding: 20px;
}

ul
{
    list-style-type:none;
}

main > header {
    display: block;
}
.container-artigos
{   
    display: flex;
    
}
body
{
    background-color:rgb(153, 227, 246);
    
}
body>header
{
    color: brown;
}
.container-artigos > article 
{
    margin-bottom: 2rem;
    
}
#Harley
{
    height: 100%;
    width: 50%;
}