
/*COR, BORDA, DISPOSIÇÃO DO TEXTO E ESTILO DAS SESSÕES DOS ARTIGOS
ATUAIS*/
.container-sections
{
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    border-style: solid;
    border-color: black;
    padding: 20px;
}

/*REMOVER MARCADORES DA LISTA*/
ul
{
    list-style-type:none;
}

/*PERMITIR QUE UM ARTIGO FIQUE AO LADO DO OUTRO*/
.container-artigos
{   
    display: flex;
    
}

/*COR DE FUNDO DA PÁGINA*/
body
{
    background-color:rgb(153, 227, 246);
    
}

/*COR DO HEARDER (TÍTULO) PRINCIPAL - NESTE CASO: HARLEY QUINN*/
body>header
{
    color: brown;
}

/*TAMANHO DA IMAGEM*/
#Harley
{
    height: 100%;
    width: 50%;
}